<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body data-ng-app="dutyHoursApp">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Duty Hours", "ResidentCalendar", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Resident Calendar", "ResidentCalendar", "Home", new {area = ""}, null)</li>
                    <li>@Html.ActionLink("Analysis", "Analysis", "Home", new {area = ""}, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Duty Hours</p>
        </footer>
    </div>
    <div data-ng-controller="tmpPageController as pc" class="tmpContainer">
        <div class="container">
            <p>This section is only temporary until authentication and user managment pieces are in place.</p>
            <div class="input-group">
                <label>Select Institution:</label>
                <select data-ng-model="pc.institution" data-ng-options="i.name for i in pc.institutions"></select>
            </div>
            <div class="input-group">
                <label>Select Resident:</label>
                <select data-ng-model="pc.resident" data-ng-options="(r.user.firstName + ' ' + r.user.lastName) for r in pc.residents"></select>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/lodash")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
